
/* banner */
#banner{
    margin-top: 88px;
    color: white;
}
#banner .img{
    position: relative;
    height: 450px;
}
#banner .img img{
    filter: brightness(70%);
    height: 305px;
}
#banner .box {
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
#banner .box .tieude{
    border: 2px solid white;
    background-color: white;
    height: 60px;
    width: 2px;
    margin: 0 auto;
}

/* content */
#content{
    background-color: #181A1B;
    color: #fff;
}
#content .container{
    width: 1110px;
}
#content h3{
    text-align: center;
    font-family:Montserrat-Bold;
    
}
#content .container img{
    height: 252px;
}
#content p{
    font-family:Montserrat-Regular;
    font-size: 14px;
    text-align: justify;
}
.history .img{
    position: relative;
    height: 450px;
}
.history .img img{
    filter: brightness(60%);
    height: 305px;
}
.history .box {
    width: 80%;
    position: absolute;
    left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
